html{
	font-family: 'Oswald', sans-serif;
}

body{
	background-image:url('../img/bgimg.jpg');    
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin:0;
	padding:0;
}

#header{
	padding-bottom:1%;
	padding-top:1%;
	background-color: #777;
}

#content{
	padding-top:10%;
	padding-bottom:15%;
	background-color: #999;
}

.loginpage{
	-webkit-box-shadow: 1px 0px 30px 8px #111;
	-moz-box-shadow:    1px 0px 30px 8px #111;
	box-shadow:         1px 0px 30px 8px #111;
	margin-left:28%;
	margin-right:28%;
	text-align: center;
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
}

label {
    color: #2D2D2D;
    font-size: 15px;
}

form, input {
	text-align: center;
	float: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form {
	margin: 0;
	padding: 0;
	text-align: center;
	float:center;
}

#footer{
	overflow:hidden;
	background-color:#555;
	margin-bottom:10%;
	padding-top:4%;
	padding-bottom:4%;
	text-align:center;
}

.err{
	padding-top:5%;
	color: red;
	font-weight: bold;
}

#add_error{
	padding-top:5%;
	color: red;
	font-weight: bold;
}

#user{

}

#pass{

}

#login{
	
}